<% @page_title = "定期便(編集)" %>
<h1><%= @page_title %></h1>

<%= form_for [:admin, @regular1] do |form| %>
    <table class="attr">
        <tr>
            <th><%= "商品名" %></th>
            <td><%= Member.find_by(id: @regular1.member_id).name %></td>
        </tr>
        <tr>
            <th><%= form.label :"個数" %></th>
            <td><%= form.select :regular_quantity, *[0..3],method: :get %></td>
        </tr>
    </table>
  <div><%= form.submit"更新"%></div>
<% end %>

<%= form_for [:admin, @regular2] do |form| %>
    <table class="attr">
        <tr>
            <th><%= "商品名" %></th>
            <td><%= Member.find_by(id: @regular2.member_id).name %></td>
        </tr>
        <tr>
            <th><%= form.label :"個数" %></th>
            <td><%= form.select :regular_quantity, *[0..3],method: :get %></td>
        </tr>
    </table>
  <div><%= form.submit"更新"%></div>
<% end %>