<% @page_title = "定期便管理ページ" %>
<h1><%= @page_title %></h1>

<% if @regulars.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>名前</th>
        <th>定期便購入</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @regulars.each do |regular| %>
        <tr>
          <td><%= Member.find_by(id: regular.member_id).name %></td>
          <td><%= Member.find_by(id: regular.member_id).regular_member? ? "○" : "－" %></td>
          <td>
            <%= link_to "定期便の編集", [:edit,:admin, regular] %> |
            <%= link_to "定期便を見る", [:admin,regular] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>会員情報がありません。</p>
<% end %>