<% @page_title = "定期便(編集)" %>
<h1><%= @page_title %></h1>


<%= form_for @regular2 do |form| %>
    <table class="attr">
        <tr>
            <th><%= "商品名" %></th>
            <td><%= Item.find_by(id: @regular2.item_id).item_name %></td>
        </tr>
        <tr>
            <th><%= form.label :"個数" %></th>
            <td><%= form.select :regular_quantity, *[0..3],method: :get %></td>
        </tr>
    </table>
  <div><%= form.submit"更新"%></div>
<% end %>

<%= form_for @regular1 do |form| %>
    <table class="attr">
        <tr>
            <th><%= "商品名" %></th>
            <td><%= Item.find_by(id: @regular1.item_id).item_name %></td>
        </tr>
        <tr>
            <th><%= form.label :"個数" %></th>
            <td><%= form.select :regular_quantity, *[0..3],method: :get %></td>
        </tr>
    </table>
  <div><%= form.submit"更新"%></div>
<% end %>
