<% @page_title = "配達ステータス管理" %>
<h1><%= @page_title %></h1>


<%= link_to "グループA",[:admin_orders, group: "1"],method: :get %>
<%= link_to "グループB", [:admin_orders, group: "2"],method: :get %>
<%= link_to "グループC", [:admin_orders, group: "3"],method: :get %>
<% if params[:group].to_i == 1 %>
  <% @groups = Member.where(group: 1) %>
  <% @group = Member.find_by(group: 1) %>
  <% @status = Order.find_by(member_id: @group.id) %>
  <% @statuses = Order.where(order_group: @group.group) %>
<% end %>
<% if params[:group].to_i == 2 %>
  <% @groups = Member.where(group: 2) %>
  <% @group = Member.find_by(group: 2) %>
  <% @status = Order.find_by(member_id: @group.id) %>
  <% @statuses = Order.where(order_group: @group.group) %>
<% end %>
<% if params[:group].to_i == 3 %>
  <% @groups = Member.where(group: 3) %>
  <% @group = Member.find_by(group: 3) %>
  <% @status = Order.find_by(member_id: @group.id) %>
  <% @statuses = Order.where(order_group: @group.group) %>
<% end %>

<% if @statuses.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>ユーザ</th>
        <th>配達ステータス(1:注文済, 2:発送準備中, 3:発送中, 4:発送済)</th>
        <th>グループ(1:A,2:B,3:C)</th>
        <th>更新日時</th>
      </tr>
    </thead>
    <tbody>
      <% @statuses.each do |status| %>
        <tr>
          <td><%= Member.find_by(id: status.id).name %></td>
          <td><%= status.status %></td>
          <td><%= Member.find_by(id: status.id).group %></td>
          <td><%= status.updated_at %></td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
<%= link_to "配達ステータス１→２", [:edit, :admin, @status] %>

<% end %>

