<%= render "shared/login_form" unless current_member %>
<div class="toolbar"><%= link_to "会員の新規登録", :new_member unless current_member %></div>
<% if current_member %>
  <ul class="account-menu">
    <%= current_member.name + "さん" %>
    <%= menu_link_to "ログアウト", :session,
          method: :delete, data: { confirm: "ログアウトしますか？" } %>
  </ul>
<% end %>


<%=
  if controller.kind_of?(Admin::Base)
    render "shared/admin_menubar"
  else
    render "shared/menubar"
  end
%>


