<table class="attr">
    <tr>
        <th><%= form.label :"商品名" %></th>
        <td><%= form.text_field :item_name, size: 16 %></td>
    </tr>
    <tr>
        <th><%= form.label :"値段" %></th>
        <td><%= form.text_field :price, size: 8 %></td>
    </tr>
    <tr>
        <th><%= form.label :"個数" %></th>
        <td><%= form.text_field :item_quantity, size: 8 %></td>
    </tr>
    <tr>
      <th><%= form.label :"在庫" %></th>
      <td>
        <%= form.check_box :disable %>
      </td>
    </tr>
    <tr>
  <th><%= form.label :"カテゴリー" %></th>
  <td>
  <% Category.all.each do |category| %>
      <%= form.radio_button :category_id, category.id %><%= category.category_name %>&emsp;
  <% end %>
  </td>
  </tr>
    
</table>