<table class="ite">
  <tr>
    <th width="150">商品名</th>
    <td><%= @item.item_name %></td>
  </tr>
  <tr>
    <th>値段</th>
    <td><%= @item.price %></td>
  </tr>
  <tr>
    <th>個数</th>
    <td><%= @item.item_quantity %></td>
  </tr>
  <tr>
    <th>在庫</th>
    <td><%= @item.disable? ? "○" : "－" %></td>
  </tr>
  <tr>
    <th>ジャンル</th>
    <td><%= @item.author_category&.category_name %></td>
  </tr>
  </table>