<% @page_title = "商品追加" %>
<h1><%= @page_title %></h1>


<%= form_for [current_member, @order] do |form| %>
    <table class="attr">
    <tr>
        <th><%= "商品名" %></th>
        <td><%= @item.item_name %></td>
    </tr>
    <tr>
        <th><%= "値段" %></th>
        <td><%= @item.price %><%= "円" %></td>
    </tr>
    <tr>
        <th><%= form.label :order_quantity, "個数" %></th>
        <td><%= form.select :order_quantity, *[1..5] %><%= "個" %></td>
    </tr>
    <div><%= form.submit "追加"%></div>
    </table>
<% end %>
