<%= form_tag :search_items, method: :get, class: "search" do %>
    <%= "商品名検索 " %><%= text_field_tag "q", params[:q] %>
    <%= submit_tag "検索" %>
  <% end %>

<% if @items.present? %>
<%= @item.author_category&.category_name %>
  <table class="list">
    <thead>
      <tr>
        <th>商品名</th>
        <th>値段</th>
        <th>在庫</th>
        <th>ジャンル</th>
        <% if current_member %>
          <th>在庫数(テスト確認用)</th>
          <th>操作</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.item_name %></td>
          <td><%= item.price %><%= "円" %></td>
          <td><%= item.disable? ? "○" : "－" %></td>
          <td><%= item.author_category&.category_name %></td>
          <% if current_member %>
            <td><%= item.item_quantity %></td>
            <td><%= button_to 'カートに入れる', item, method: :get %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>商品情報がありません。</p>
<% end %>